.img-fluid {
    overflow: hidden;
    min-width: 150px;
    height:auto;
    border: 3pt solid whitesmoke;
    
}

#page-header{
    color: whitesmoke;
}

body, html {
    height: 100%;
}

#attack-button{
    visibility: hidden;
}

#again-button{
    visibility: hidden;
}

.bg {
/* The image used */
background-image: url("../images/wakanda.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#fight-narrator{
    color: yellow;
    background-color: black;
}


.character-hp {
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: whitesmoke;
    background-color: black;
    transform: translate(-50%, 0%);
}
  

.character-name {
    position: absolute;
    top: 0%;
    left: 50%;
    color: whitesmoke;
    background-color: black;
    transform: translate(-50%, 0%);
}

#remaining-title{
    color: red;
    visibility: hidden;
    font-size: 20px;
}
  